<nav class="navbar navbar-bottom" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <p class="hidden-xs"><a id="amanda" href="http://www.amandawraymond.com" target="_blank">Amanda Raymond</a></p>
      </ul>
    </div>
  </div>
</nav>